
// var
  $white-color:#fff;
  $black-color:#000;
  $min-color:#4a70dc;
  $green-color:#1cc88a;
  $rose-color:#42bdcf;
  $gold-color:#f6c23e;
  $dark-color:#5a5c69;
  $gray-color:#f4f5f9;
  $blue-color:#4e73df;
  $green-color:#008000;
  $black-color: rgb(49, 46, 46);
  $grey-color: #808080;
  $themeColorItem: (
    "blue-color": $blue-color,
    "green-color": $green-color,
    "black-color": $black-color,
    "grey-color": $grey-color,
  );
  


// var


@mixin pageDir ($theme-color) {
  @if $theme-color=="light-color" {
      html[dir="#{$theme-color}"] & {
          font-family: $arabc_font;
      }
  }
  @else if $theme-color=="light-color" {
      html[dir="#{$theme-color}"] & {
          font-family: $arabc_font;
      }
  }
}

body {
  @include pageDir(ltr);
  @include pageDir(rtl);
  overflow-x: hidden !important;
}

// fonts

$min-font:'Tajawal', sans-serif;
