@charset "UTF-8";
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden !important;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: #f4f5f9;
}

body.login {
  background-color: #4a70dc;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.padd-40 {
  padding: 40px 0;
}

.marg {
  margin: 40px 0;
}

.border-b {
  padding: 13px 0;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
}

.border-r, .all-user-box {
  overflow: hidden;
  border-radius: 5px;
}

.box-sh {
  -webkit-box-shadow: -2px 4px 8px rgba(49, 46, 46, 0.1);
          box-shadow: -2px 4px 8px rgba(49, 46, 46, 0.1);
}

.btn {
  color: #fff;
  padding: 8px 30px;
  font-weight: 500;
  border-radius: 3px;
  font-size: 18px;
}

.btn:hover {
  color: #fff;
}

.note-box {
  padding: 10px 20px;
  background-color: rgba(90, 92, 105, 0.1);
}

.prag {
  font-size: 20px;
  color: #5a5c69;
  font-weight: 600;
}

.table-style tr, .table-style th {
  border: 1px solid rgba(90, 92, 105, 0.3);
  border-collapse: collapse;
}

.table-style .btn {
  padding: 2px 20px;
  font-weight: 500;
  font-size: 16px;
}

.aside-box {
  padding: 0 30px 8px 30px;
  position: fixed;
  border-left: 3px solid rgba(74, 112, 220, 0.1);
  top: 0;
  bottom: 0;
  z-index: 99999;
}

html[dir="rtl"] .aside-box {
  -webkit-box-shadow: -4px 0px 6px rgba(49, 46, 46, 0.4);
          box-shadow: -4px 0px 6px rgba(49, 46, 46, 0.4);
  right: 0;
}

html[dir="ltr"] .aside-box {
  -webkit-box-shadow: 4px 0px 6px rgba(49, 46, 46, 0.4);
          box-shadow: 4px 0px 6px rgba(49, 46, 46, 0.4);
  left: 0;
}

.aside-box .logo-box .logo-link .logo-text {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.aside-box .aside-ul {
  margin: 30px 0;
}

.aside-box .aside-ul ul {
  padding: 0;
}

.aside-box .aside-ul ul li {
  position: relative;
  margin: 4px 0;
}

.aside-box .aside-ul ul li a {
  padding: 1rem;
  display: block;
  font-weight: 700;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.aside-box .aside-ul ul li a .ul-text {
  padding: 0 5px;
}

.aside-box .aside-ul ul li a.active, .aside-box .aside-ul ul li a:hover {
  color: white;
}

.aside-box .aside-ul ul li a .arrow {
  float: left;
}

.aside-box .aside-ul ul li ul {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  padding: 6px 10px;
  display: none;
  z-index: 99999;
}

.aside-box .aside-ul ul li ul li {
  padding: 2px 0;
  border-bottom: 1px solid rgba(90, 92, 105, 0.2);
}

.aside-box .aside-ul ul li ul li:last-of-type {
  border-bottom: 0;
}

.aside-box .aside-ul ul li ul li a {
  font-weight: 600;
  font-size: 14px;
  padding: ​10px;
  color: rgba(49, 46, 46, 0.7);
}

.aside-box .aside-ul ul li ul li a.active, .aside-box .aside-ul ul li ul li a:hover {
  background-color: rgba(74, 112, 220, 0.2);
  color: #312e2e;
}

.aside-box.mobile-width {
  padding: 0 6px 8px 6px;
}

.aside-box.mobile-width .logo-box {
  text-align: center;
}

.aside-box.mobile-width .logo-box .logo-link .logo-text {
  display: none;
}

.aside-box.mobile-width .aside-ul {
  margin: 30px 0;
}

.aside-box.mobile-width .aside-ul ul {
  padding: 0;
}

.aside-box.mobile-width .aside-ul ul li {
  position: relative;
  margin: 4px 0;
}

.aside-box.mobile-width .aside-ul ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-box.mobile-width .aside-ul ul li a .arrow {
  display: none;
}

.aside-box.mobile-width .aside-ul ul li ul {
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-shadow: 0px 0px 6px rgba(49, 46, 46, 0.4);
          box-shadow: 0px 0px 6px rgba(49, 46, 46, 0.4);
  min-width: 200px;
}

html[dir="rtl"] .aside-box.mobile-width .aside-ul ul li ul {
  right: 126px;
}

html[dir="ltr"] .aside-box.mobile-width .aside-ul ul li ul {
  left: 126px;
}

.aside-box.mobile-width .aside-ul ul li ul li a {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 772px) {
  html[dir="rtl"] .aside-box {
    right: -400px;
  }
  html[dir="ltr"] .aside-box {
    left: -400px;
  }
  html[dir="rtl"] .aside-box.mobile-width {
    right: 0px;
  }
  html[dir="ltr"] .aside-box.mobile-width {
    left: 0px;
  }
  .aside-box .aside-ul ul li a .ul-text {
    font-size: 14px;
  }
}

.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 46, 46, 0.4);
  z-index: -1;
  display: none;
}

.nav-section {
  padding: 20px 40px;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(90, 92, 105, 0.2);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(90, 92, 105, 0.2);
}

.nav-section .menu-box {
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.nav-section .menu-box::after {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(90, 92, 105, 0.8);
  content: "";
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-section .menu-box .menu-item {
  height: 2px;
  background-color: #5a5c69;
  width: 24px;
  margin: 5px 0;
}

.nav-section .menu-box.not-full::after {
  -webkit-animation: scal-circle .4s ease-in-out forwards;
          animation: scal-circle .4s ease-in-out forwards;
}

.nav-section .menu-box.not-full .menu-item:nth-child(2) {
  width: 12px;
}

.nav-section .nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-section .nav-box .nav-item {
  margin: 0 20px;
  position: relative;
}

.nav-section .nav-box .nav-item i {
  font-size: 20px;
  color: rgba(90, 92, 105, 0.7);
  cursor: pointer;
}

.nav-section .nav-box .nav-item .nav-sub-box {
  display: none;
  top: 48px;
  position: absolute;
  right: -62px;
  min-width: 199px;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(90, 92, 105, 0.4);
          box-shadow: 0 0.15rem 1.75rem 0 rgba(90, 92, 105, 0.4);
  z-index: 999;
}

.nav-section .nav-box .nav-item .nav-sub-box .title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  color: white;
  background-color: #4a70dc;
}

.nav-section .nav-box .nav-item .nav-sub-box ul {
  border-bottom: 1px solid rgba(90, 92, 105, 0.1);
  padding: 6px 0;
}

.nav-section .nav-box .nav-item .nav-sub-box ul:last-of-type {
  padding: 0 0 0px;
  border-bottom: 0;
}

.nav-section .nav-box .nav-item .nav-sub-box ul.user-ul li {
  border-bottom: 0 !important;
}

.nav-section .nav-box .nav-item .nav-sub-box ul.user-ul li a {
  padding: 8px;
}

.nav-section .nav-box .nav-item .nav-sub-box ul.user-ul li a .text,
.nav-section .nav-box .nav-item .nav-sub-box ul.user-ul li a i {
  font-size: 12px;
  color: #5a5c69;
}

.nav-section .nav-box .nav-item .nav-sub-box ul li {
  border-bottom: 1px solid rgba(90, 92, 105, 0.2);
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 12px 13px;
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a:hover {
  background-color: rgba(90, 92, 105, 0.1);
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a i {
  font-size: 12px;
  color: #4a70dc;
  padding: 0 4px;
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a .text {
  font-size: 15px;
  color: #5a5c69;
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a .count {
  margin: 0 10px;
  font-size: 10px;
  font-weight: 600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4a70dc;
  color: white;
}

.nav-section .nav-box .user-box {
  padding: 0 14px;
  border-right: 1px solid rgba(90, 92, 105, 0.5);
}

.nav-section .nav-box .user-box .user-intero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav-section .nav-box .user-box .user-intero img {
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 32px;
}

.nav-section .nav-box .user-box .user-intero .name-text {
  font-size: 12px;
  font-weight: 600;
  color: #5a5c69;
  margin: 0 10px;
}

@-webkit-keyframes scal-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@keyframes scal-circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

html[dir="rtl"] .content-section {
  margin-right: 237px;
}

html[dir="rtl"] .content-section.full-width {
  margin-right: 110px;
}

html[dir="ltr"] .content-section {
  margin-left: 237px;
}

html[dir="ltr"] .content-section.full-width {
  margin-left: 110px;
}

@media (max-width: 772px) {
  html[dir="rtl"] .content-section {
    margin-right: 0;
  }
  html[dir="rtl"] .content-section.full-width {
    margin-right: 0;
  }
  html[dir="ltr"] .content-section {
    margin-left: 0;
  }
  html[dir="ltr"] .content-section.full-width {
    margin-left: 0;
  }
}

.content-box {
  height: 100vh;
  padding: 20px 35px;
}

.content-box .page-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 20px;
  color: #5a5c69;
}

.content-box .number-box {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 12px 20px;
  border-right: 3.5px solid;
}

.content-box .number-box:hover {
  -webkit-transform: scale(1.02) translateY(-5px);
          transform: scale(1.02) translateY(-5px);
}

.content-box .number-box i {
  font-size: 50px;
  color: rgba(90, 92, 105, 0.1);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content-box .number-box .content-text .title {
  font-size: 14px;
  margin: 10px 0;
}

.content-box .number-box .content-text .statistics-count {
  font-size: 28px;
  color: #5a5c69;
  font-weight: 600;
}

.content-box .dach-min-box {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

.content-box .dach-card {
  margin: 10px 0;
  border: 1px solid rgba(90, 92, 105, 0.1);
}

.content-box .dach-card .box-title {
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(90, 92, 105, 0.005);
  color: #4a70dc;
  padding: 14px 20px;
  border-bottom: 1px solid rgba(90, 92, 105, 0.2);
}

.content-box .dach-card .card-body {
  padding: 10px;
  background-color: white;
}

.login {
  height: 100vh;
}

.bg-login-image {
  background: url("../../img/user.webp");
  background-position: center;
  background-size: cover;
}

.card {
  margin: 10px 0;
}

.card ul li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
}

.card ul li span {
  margin: 4px 10px;
}

.buttom_style {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #4a70dc;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  background-color: #4a70dc;
}

.buttom_style:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.buttom_style_2 {
  display: inline-block;
  padding: 8px 30px;
  font-weight: 500;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  background-color: #4a70dc;
}

.buttom_style_2:hover {
  color: #fff;
  background-color: #5a5c69;
}

.edit-buttom {
  background-color: #000;
  color: #f4f5f9;
}

.link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-box a {
  margin: 4px;
}

.card-img, .card-img-top {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-img img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.section-title {
  padding: 30px 0 10px;
  font-size: 22px;
  font-weight: 600;
  color: #4a70dc;
}

.ditales-list li .lable-text {
  font-size: 14px;
  font-weight: 600;
  color: #4a70dc;
  padding: 0 6px;
}

.ditales-list li .text-min {
  font-size: 18px;
  font-weight: 600;
  color: #312e2e;
  padding: 0 6px;
}

.user-img {
  position: relative;
  text-align: center;
  padding: 100px 0 0;
  z-index: 1;
  margin: 0 0 20px;
}

.user-img .edit-box {
  position: absolute;
  top: 20px;
}

.user-img .edit-box:hover .edit-text {
  padding: 0 10px;
  visibility: visible !important;
  opacity: 1 !important;
}

.user-img .edit-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

html[dir="rtl"] .user-img .edit-box {
  right: 20px;
}

html[dir="ltr"] .user-img .edit-box {
  left: 20px;
}

.user-img .edit-box i {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: white;
  color: #4a70dc;
}

.user-img .edit-box .edit-text {
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
  color: white;
  padding: 0;
}

.user-img .cover-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.user-img img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.user-info .name-text {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.user-info .info-list {
  padding: 40px;
}

.user-info .info-list li {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(74, 112, 220, 0.3);
}

.user-info .info-list li .label-text {
  font-size: 18px;
  font-weight: 500;
  color: #5a5c69;
  padding: 0 10px;
  min-width: auto;
}

.user-info .info-list li .info-text {
  font-size: 24px;
  font-weight: 600;
  color: #5a5c69;
}

.all-user-box {
  padding: 0 0 20px;
  border: 1px solid #4a70dc;
  margin: 0 0 10px;
}

.all-user-box .name-text {
  margin: 0 0 8px;
}

.all-user-box .info-text {
  font-size: 16px;
  font-weight: 600;
  color: #5a5c69;
  padding: 0 0 20px;
  display: block;
}

input:focus {
  outline: 0 !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.form-group {
  margin: 8px 0;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: 600;
  color: #5a5c69;
}

.button-style {
  background-color: #4a70dc;
  color: white;
  padding: 8px 15px;
  text-align: center;
  min-width: 100px;
  border-radius: 50px;
  margin: 10px 0;
  border: 0;
  display: inline-block;
}

.button-style:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.select2 {
  width: 100% !important;
  height: 38px;
}

.select2-container .select2-selection--single {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

.chose-file {
  opacity: 0;
  width: 90px;
  height: 38px;
}

.img-viwer-box {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-viwer-box .chose-button {
  display: inline-block;
  position: relative;
  font-size: 13px;
  border-radius: 3px;
  color: white;
  background-color: #5a5c69;
  font-weight: 600;
  border: 1px solid #5a5c69;
}

.img-viwer-box .chose-button .text-box-input {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.img-viwer-box .img-viwer {
  display: none;
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgba(74, 112, 220, 0.6);
}

.sitting-form .sitting-label {
  color: rgba(90, 92, 105, 0.6);
}

.loding-pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f5f9;
  z-index: 9999;
}

.colro-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.colro-box ul li {
  margin: 4px 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.colro-box ul li.blue-color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#1c41ad));
  background: linear-gradient(180deg, #4e73df 10%, #1c41ad 100%);
}

.colro-box ul li.green-color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #008000), to(#004e00));
  background: linear-gradient(180deg, #008000 10%, #004e00 100%);
}

.colro-box ul li.black-color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #312e2e), to(black));
  background: linear-gradient(180deg, #312e2e 10%, black 100%);
}

.colro-box ul li.grey-color {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #808080), to(#4e4e4e));
  background: linear-gradient(180deg, #808080 10%, #4e4e4e 100%);
}

.modal {
  z-index: 999999999999;
}

.aside-box, .aside-box .aside-ul ul li a, .nav-section .menu-box .menu-item, .content-box .number-box, .buttom_style, .buttom_style_2, .user-img .edit-box .edit-text, .button-style {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.nav-section .nav-box .nav-item .nav-sub-box ul li a .count, .user-img .edit-box i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-back-solid-color-item[data-color="blue-color"] {
  background-color: #4e73df !important;
}

.theme-color-item[data-color="blue-color"], .nav-section .nav-box .nav-item .nav-sub-box ul li a i[data-color="blue-color"], .content-box .dach-card .box-title[data-color="blue-color"] {
  color: #4e73df !important;
}

.theme-border-color-item[data-color="blue-color"] {
  border-color: #4e73df !important;
}

.theme-back-color-item[data-color="blue-color"] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#1c41ad)) !important;
  background: linear-gradient(180deg, #4e73df 10%, #1c41ad 100%) !important;
}

.theme-back-solid-color-item[data-color="green-color"] {
  background-color: #008000 !important;
}

.theme-color-item[data-color="green-color"], .nav-section .nav-box .nav-item .nav-sub-box ul li a i[data-color="green-color"], .content-box .dach-card .box-title[data-color="green-color"] {
  color: #008000 !important;
}

.theme-border-color-item[data-color="green-color"] {
  border-color: #008000 !important;
}

.theme-back-color-item[data-color="green-color"] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #008000), to(#004e00)) !important;
  background: linear-gradient(180deg, #008000 10%, #004e00 100%) !important;
}

.theme-back-solid-color-item[data-color="black-color"] {
  background-color: #312e2e !important;
}

.theme-color-item[data-color="black-color"], .nav-section .nav-box .nav-item .nav-sub-box ul li a i[data-color="black-color"], .content-box .dach-card .box-title[data-color="black-color"] {
  color: #312e2e !important;
}

.theme-border-color-item[data-color="black-color"] {
  border-color: #312e2e !important;
}

.theme-back-color-item[data-color="black-color"] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #312e2e), to(black)) !important;
  background: linear-gradient(180deg, #312e2e 10%, black 100%) !important;
}

.theme-back-solid-color-item[data-color="grey-color"] {
  background-color: #808080 !important;
}

.theme-color-item[data-color="grey-color"], .nav-section .nav-box .nav-item .nav-sub-box ul li a i[data-color="grey-color"], .content-box .dach-card .box-title[data-color="grey-color"] {
  color: #808080 !important;
}

.theme-border-color-item[data-color="grey-color"] {
  border-color: #808080 !important;
}

.theme-back-color-item[data-color="grey-color"] {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #808080), to(#4e4e4e)) !important;
  background: linear-gradient(180deg, #808080 10%, #4e4e4e 100%) !important;
}
